h1{
   text-align: center;
    margin: 0 auto;
    font-size:24px;
    text-transform: uppercase;
}
h3{ 
    padding-left: 70px; 
    font-size: 18px;
    font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
    text-transform: uppercase;
}
.modifier {
   font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
    background-color: #fdc741;
    color: #fff;
    padding: 50px 0;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.container * {
  box-sizing: border-box;
}

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-inner {
  padding: 0 8px;
  justify-content: space-between;  
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  padding: 15px;
  border: none;
}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

.flex-inner li {
  width: 100px;
}
.top 
{
    margin:0 auto;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    color:white;
    align-items: center;
      background-color: #fdc741;
}
div{
    clear:both;
}
 .bottom
{
    margin:0 auto;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.bottom .recette{
    margin:2vh;
    position:relative;
}

.bottom .recette div{
    transition:border-radius .3s ease;
    cursor:pointer;
}


.corner{
    position:absolute;
    right:-39px;
    bottom:-39px;
    width:0;
    height:0;
    border:39px solid white;
    transform: rotate(-45deg);
    border-right-color:transparent;
    border-left-color:transparent;
    border-bottom-color:transparent;
}

.bottom .recette img{
    position:absolute;
    bottom:5px;
    right:2px;
    
}
.popup{
    position:absolute;
    margin:0px;
    top: 0px;
    left: 0px;
    width:100%;
    background-color: rgba(0, 0, 0, 0.6);
    height:1000px;
}
.contenu{
    width:80%;
    background-color: white;
    margin:0 auto;
    height:800px;
    margin-top:5%;
}
.hidden{
    display:none;
}
main
{
    font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}
main .top:nth-child(1){
    padding-top:2%;
}
main .top:nth-child(2) img{
    padding: 10px;
    cursor: pointer;
    position:relative;
}
.op .photoProfilHov .noPhoto{
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.op .photoProfilHov:hover img {
    opacity: .5;
}
.plusprofil{
    position:absolute;
    top:20%;
    padding-right: 6.5%;
    box-sizing:border-box;
    order:1;
    flex-basis: 0;
    visibility: hidden;
}
.op .photoProfilHov:hover+.plusprofil{
	visibility: visible;
}
main section:nth-child(2) div {
    order:3;
    text-align: center;
    align-self: center;
    cursor:pointer;
    flex-basis: 0;
    padding-left: 1.5%;
    padding-right:1.5%;
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    box-sizing:border-box;
    border-radius: 50% 50% 50% 50%;
    transition:border .2s ease;
/*    max-width: 10;*/

}
main section:nth-child(2) div span{
font-size: 70px;
}

main section:nth-child(2) div:hover {
   
    border:1px solid white;
    opacity: :0.8;
}
figure{
    order:2;
    margin: 0;
}
main section:nth-child(3) div
{
    padding:10px;
    border:2px solid white;
    border-radius: 5px;
    margin:10px;
    align-self: center;
    text-align: center;
    flex-basis: auto;
    min-width: 20vh;
}
main section:nth-child(3) div span
{
     font-weight: bold;
}
main section:nth-child(4) p{
    width: 75vh;
    padding:20px;
    align-self: flex-start;
}
.rond
{
    border-radius:  50%;    
}
h2{
    color:white;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    text-transform: uppercase;
    letter-spacing: 4px;
}
@media screen and (max-width: 590px) {
    main section:nth-child(3)
    {
        flex-flow: column;
    }
    main section:nth-child(4) p
    {
        width: inherit;
        padding:10px;
    }
}