/*nav*/
body
{
    width:100%;
 
  font-family: 'Lato','Muli', 'Helvetica', 'Arial', 'sans-serif';
   
}
h1
{
    font-weight: 400;
}

#container
{
font-family: Muli;
}

#navbar
{
    font-family: Lato;
    text-transform: uppercase;
    letter-spacing: 2px;
    
    height:80px;
    background-color: #f8f8f8;
}

.row
{
    padding-top:10px;
    width:90%;
    margin: 0 auto;
/*    border:1px solid black;*/
    height:780px;
}
.row2
{
    padding-top:10px;
    width:50%;
    margin: 0 auto;
/*    border:1px solid black;*/
   
}

#navbar ul li 
{
    float: right;  
	list-style: none;
    padding:20px;
    color:#5e5e5e;
    
}
#navbar ul li :hover
{
    color:#fdcc52;
}
#navbar ul a
{   
    text-decoration:none;
     color:#5e5e5e;
  
}
a 
{
   text-decoration:none;
    
}

#menu
{
    width:55px;
    height: 55px;
    cursor:pointer;
}
/*side menu*/
.sideMenu
{
    height: 100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background:white;
    overflow: hidden;
    transition:0.5s;
    padding-top: 60px;
    background-color: #f8f8f8;
}
.sideMenu a 
{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #5e5e5e;
    display: block;
    transition: 0.5s;
    font-family:Muli;
    padding: 15px;
}

.sideMenu .fermer
{
    position: absolute;
    right:25px;
    font-size 36px;
    margin-left:50px;
}



/*block fruit*/
.top
{
     background-image: url('images/hero.jpg');
/*    background-position: center;*/
/*    background-attachment: fixed;*/
    width:100%;
    height:780px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*
@media all and (min-width: 768px )
{
    .top {background-position: center;}  
}
*/
#texte
{
    width:100%;
    margin-top:290px;
 
}

.top h1,.banniereJaune h2,.banniereBlanche h2,.viveFoodie h2
{
    color:white;
    text-align:center;
    font-size: 36pt;
    font-weight: 400;
    line-height: 150%;
    
}
#inscription
{
    width:300px;
	height:45px;
	border-radius: 5px;
    border: 3px solid white;
    background-color:transparent;
    letter-spacing: 5px;
    color:white;
    display:block;
    margin: 0 auto;
    margin-top:45px;
}
#inscription:hover
{
    background-color:#fdcc52;
    border: 3px solid #fdcc52;

}
.top button a
{
    color:white;
    font-family:Lato;
    font-weight: 200;
    font-size:16pt;
}
/*banniere Jaune*/
.banniereJaune
{
    width:100%;
    height:450px;
    background:#fdcc52; 
}
.banniereJaune h2
{
  margin-top:120px;
font-weight: bold;
}
.banniereJaune p
{
    
    text-align:center;
    font-size: 18pt;
    cursor: pointer;
    padding-top:10px;
}
.banniereJaune a
{
    color:white;
}
/*banniere blanche*/
.banniereBlanche
{
  width: 100%;
  height:430px; 
   
   
}
.banniereBlanche h2
{
    color:black;
}
.banniereBlanche p 
{
    text-align:center;
    font-size: 18pt;
        padding:10px;
}
#burger
{
    width: 150px;
    height: 150px;
    display:block;
    margin: 0 auto;
    margin-top:120px;
    
}

/*connecter vous*/
.connectezVous
{
   
    width:100%;
    height:580px;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('images/foodback.png');
  background-attachment: fixed;
  padding: 250px 0;
}
.row3
{
    width:80%;
    margin:0 auto;
}
.row3 h2
{
    font-size:74pt;
    color:white;
    padding-bottom:30px;
    
}
.row3 a 
{
    text-transform: uppercase;
    color:white;
    margin-top:20px;
    font-size:14pt;
    letter-spacing: 2px;
}
.row3 a:hover 
{
    background-color:#fdcc52;
    border: 3px solid #fdcc52;
    border-radius:5px;
   
}
/*vive les foodie*/
.viveFoodie 
{
    background:#fdcc52;
}
.viveFoodie 
{
    text-align: center;
}
.viveFoodie h2
{
    padding-bottom:80px;
}
#oeuf
{

    margin: 0 auto;
    width:200px;
    height: 200px;
    padding:20px;
     display:inline-block;
}
.cercle
{
    
    width:60%;
    margin: 0 auto;
    padding-top:80px;
    border:1px solid #fdcc52;
}
/*footer*/
footer
{
  background:#222222;
    height:100px;
     margin:0 auto;
}
.listeFooter
{
    width:15%;
    margin: 0 auto;
    padding-top:50px;
    padding-left: 15px;
}
.listeFooter li
{
    display:inline-block;
    text-align: center;
}
.listeFooter a
{
    color:#5e5e5e;
   
}
@media all and (max-width: 768px )
{
    .banniereJaune h2, #burger,#texte {margin-top: 100px;}
    .banniereBlanche h2,.banniereJaune h2{font-size:30pt;}
    #oeuf{ width:150px;height: 150px;}
    .cercle{ width:90%;}
   .listeFooter{width:25%}
   
}
@media all and (max-width:  480px )
{
    .banniereJaune h2, #burger {margin-top: 60px;}
    .banniereBlanche h2,.banniereJaune h2,#texte h1,.viveFoodie h2 {font-size:24pt;}
    .connectezVous h2{font-size:43pt;}
    .connectezVous{height:400px;}
    .row2{width:80%;}
    .banniereJaune p {font-size:14pt;}
    #texte{margin-top: 60px;}
    #navbar ul li {display:none;}
    .cercle{padding-top:20px}
    .listeFooter{width:50%}
}
