h1{
   text-align: center;
    margin: 0 auto;
    font-size:24px;
    text-transform: uppercase;
}
h3{ padding-left: 70px; 
    font-size: 18px;
     font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
    text-transform: uppercase;
}
.modifier {
   font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
    background-color: #fdc741;
    color: #fff;
    padding: 50px 0;
}

.haut 
{
  

    display:flex;
    flex-direction:row;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    color:white;
    align-items: center;

      background-color: #fdc741;

}
div{
    clear:both;
}
 .bottom
{
    margin:0 auto;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.bottom .recette{
    margin:2vh;
    position:relative;
}

.bottom .recette div{
    transition:border-radius .3s ease;
    cursor:pointer;
}


.corner{
    position:absolute;
    right:-39px;
    bottom:-39px;
    width:0;
    height:0;
    border:39px solid white;
    transform: rotate(-45deg);
    border-right-color:transparent;
    border-left-color:transparent;
    border-bottom-color:transparent;
}

.bottom .recette img{
    position:absolute;
    bottom:5px;
    right:2px;
    
}
.popup{
    position:absolute;
    margin:0px;
    top: 0px;
    left: 0px;
    width:100%;
    background-color: rgba(0, 0, 0, 0.6);
    height:100%;
    overflow:hidden;
}
.contenu{
    width:80%;
    background-color: white;
    margin:0 auto;
    height:80%;
    margin-top:5%;
}

.hidden{
    display:none;
}

/*   LES STYLES DU POPUP DE RECETTE */

.contenuRecette{

    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background-color:#fdc741;
    overflow-y:scroll;
}

.fermerRecette{
    height:50px;
    text-align:center;
    font-size:1.4em;
    cursor:pointer;
}

.fermerRecette p {
    margin-top:20px;

}

.contenuRecette h2{
    font-size:2em;
    position:absolute;
    bottom:20px;
    left:50px;
}

.contenuRecette .recetteImg p {
    position:absolute;
    bottom:5px;
    left:50px;
    color:white;
}

.contenuRecette a{
    color:inherit;
}

.informations{
    float:left;
    border-right:1px solid black;
    width:65%;

}

.informations h3:nth-of-type(2){
    margin-top:70px;
    margin-bottom:20px;
}

.informations .etape{
    margin-top:5px;
}

.commentaires{

    position:relative;
    overflow-y:scroll;
    clear:none;
    float:left;
    width:30%;
    margin-left:10px;
}

.commentaires img {
    cursor:pointer;
}

.commentaires #miams{
    margin-bottom:40px;
}

.commentaires .commentaire {
    margin-bottom:20px;

}

.commentaires .commentaire span{
    font-weight:bold;
}


/*LES STYLES GÉNÉRAUX */

main
{
    font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

main .haut:nth-child(1){

    padding-top:2%;
}
main .haut:nth-child(2) img{
    padding: 10px;
}

.photoProfilHov{

    opacity: 1;
}
.op .photoProfilHov:hover img {
    opacity: .4;
}
.plusprofil{

    position: relative;
    order:1;
    display: none;
    z-index: 2;
    
}
.plusprofil img{
     cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;

    top: -90px;
    left:0;
    right:0;
    padding:30px;
    bottom: 0;
    font-size:22px;
}
.photoProfilHov:hover+.plusprofil{
     z-index: 2;
    -webkit-transition: .10s ease-in-out;
	transition: .10s ease-in-out;
	display: inherit;

}
main section:nth-child(2) div {
    order:3;
    text-align: center;
    align-self: center;
    cursor:pointer;
    flex-basis: 0;
    padding: 20px;
    box-sizing:border-box;
    border-radius: 50% 50% 50% 50%;
    transition:border .2s ease;

}
main section:nth-child(2) div span{
font-size: 70px;
}

main section:nth-child(2) div:hover {
   
    border:1px solid white;
    opacity: :0.8;
}
figure{
    order:2;
    margin: 0;
}
main section:nth-child(3) div
{
    padding:10px;
    border:2px solid white;
    border-radius: 5px;
    margin:10px;
    align-self: center;
    text-align: center;
    flex-basis: auto;
    min-width: 20vh;
}
main section:nth-child(3) div span
{
     font-weight: bold;
}
main section:nth-child(4) p,main section:nth-child(5) p{
    width: 75vh;
    padding:20px;
    align-self: flex-start;
}
.rond
{
    border-radius:  50%;    
}
h2{
    font-size: 22px;
    color:white;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    text-transform: uppercase;
    letter-spacing: 4px;
}
@media screen and (max-width: 590px) {
    main section:nth-child(3)
    {
        flex-flow: column;
    }

    main section:nth-child(4) p
    {
        width: inherit;
        padding:10px;
    }
    
    /*  Styles du popup recettes  */
    
    .informations, .commentaires {
        width:100%;
    }
    
    .informations {
        border-right:none;
        border-bottom:1px solid black;
        padding-bottom:15px;
        margin-bottom:15px;
    }
    
}