
.top 
{
    margin:0 auto;
    background-color: #fdc741;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    color:white;
}
 .bottom
{
    margin:0 auto;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.bottom .recette{
    margin:2vh;
    position:relative;
}

.bottom .recette div{
    transition:border-radius .3s ease;
    cursor:pointer;
}


.corner{
    position:absolute;
    right:-39px;
    bottom:-39px;
    width:0;
    height:0;
    border:39px solid white;
    transform: rotate(-45deg);
    border-right-color:transparent;
    border-left-color:transparent;
    border-bottom-color:transparent;
}

.bottom .recette img{
    position:absolute;
    bottom:5px;
    right:2px;
    
}
.popup{
    position:absolute;
    margin:0px;
    top: 0px;
    left: 0px;
    width:100%;
    background-color: rgba(0, 0, 0, 0.6);
    height:1000px;
}
.contenu{
    width:80%;
    background-color: white;
    margin:0 auto;
    height:800px;
    margin-top:5%;
}
.hidden{
    display:none;
}
main
{
    font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}
main section:nth-child(2) img{
    padding: 10px;
}
.op .photoProfilHov .noPhoto{
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.op .photoProfilHov:hover img {
    opacity: .5;
}
.plusprofil{
    position:absolute;
    top:130px;
    left:400px;
    z-index: 2;
    visibility: hidden;
}
.op .photoProfilHov:hover+.plusprofil{
	visibility: visible;
}
main section:nth-child(2) div {
    width:70px;
    height:70px;
    line-height:45px;
    font-weight:bold;
    font-size:5em; 
    border-radius:50%;
    text-align:center;
    border:3px solid transparent;
    cursor:pointer;
    transition:border .2s ease;
}
main section:nth-child(2) div p{
    margin:0 auto;
    display:inline;
}

main section:nth-child(2) div:hover p{
    margin-top:35px;
}

main section:nth-child(2) div:hover {
    border:3px solid white;
}

main section:nth-child(3) div
{
    padding:10px;
    border:2px solid white;
    border-radius: 5px;
    margin:10px;
    align-self: center;
    text-align: center;
    flex-basis: auto;
    min-width: 20vh;
}
main section:nth-child(3) div span
{
     font-weight: bold;
}
main section:nth-child(4) p{
    width: 75vh;
    padding:20px;
    align-self: flex-start;
}
.rond
{
    border-radius:  50%;    
}
h2{
    color:white;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    text-transform: uppercase;
    letter-spacing: 4px;
}
@media screen and (max-width: 590px) {
    main section:nth-child(3)
    {
        flex-flow: column;
    }
    main section:nth-child(4) p
    {
        width: inherit;
        padding:10px;
    }
}